#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  overflow-x: hiddens;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section div {
  max-width: 300px;
}
