* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
}

.App {
  overflow-x: hidden;
  color: #fdfdfd;
  background-color: #242424;
}

button {
  border-radius: 8px;
  border: 3px solid #f1f1f1;
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fdfdfd;
}
button:hover {
  border-color: #646cff;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section div {
  max-width: 300px;
  margin-bottom: 30px
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #cccccc;
  border-right: #ffffff;
  margin: auto;
  animation: rotate 1s infinite ease;
}
@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

footer {
  border-top: 1px solid #fdfdfd; 
  width: 100vw;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px
}
footer p {
  font-weight: bold;
}
footer img {
  width: 150px;
}


.footer-colors {
  display: flex;
  flex-direction: row;
}
.footer-colors div {
  width: 50px;
  height: 30px;
}
.footer-colors div:nth-child(1) {
  background-color: #fdfdfd;
}
.footer-colors div:nth-child(2) {
  background-color: #242424;
}
.footer-colors div:nth-child(3) {
  background-color: #646cff;
}